<h2>Methods that were not run</h2><table>
<tr><td>com.arc.fna.testscripts.FNAManageUserSuite1.verifyUsageData<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_5 (Manage User): Verify Usage fields showing proper data.</i></td></tr>
</table>