<h2>Reporter output</h2><table><tr><td>&emsp;<div class="test-title"> <strong><font size = "3" color = "#000080">TC_6 (Manage User): Verify total number of users in user list count should match as used seat count.</font> </strong> </div>&emsp;<div><strong>Steps:</strong></div><!-- Report -->&emsp;</td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 10 Dec 19:26:58 764 - Element is displayed:: [[ChromeDriver: chrome on XP (af9c591b6be712b7cb1183e9ca2fe6e2)] -> css selector: #UserID]</small> </font> </div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 10 Dec 19:26:58 872 - Element is displayed:: [[ChromeDriver: chrome on XP (af9c591b6be712b7cb1183e9ca2fe6e2)] -> css selector: #UserID]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Username: pwchealth@yopmail.com has been engtered in Username text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;Password: 123456 has been engtered in Password text box.</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 10 Dec 19:26:59 475 - Element is displayed:: [[ChromeDriver: chrome on XP (af9c591b6be712b7cb1183e9ca2fe6e2)] -> css selector: #btnLogin]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;LogIn button clicked.</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 10 Dec 19:27:13 930 - Element is displayed:: [[ChromeDriver: chrome on XP (af9c591b6be712b7cb1183e9ca2fe6e2)] -> css selector: #setting]</small> </font> </div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 10 Dec 19:27:14 040 - Element is displayed:: [[ChromeDriver: chrome on XP (af9c591b6be712b7cb1183e9ca2fe6e2)] -> css selector: #setting]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Setting button has been clicked</div></td></tr>
<tr><td><div class="test-message">&emsp;Manage user button has been clicked</div></td></tr>
<tr><td><div class="test-message">&emsp;Total number of users in table:3</div></td></tr>
<tr><td><div class="test-message">&emsp;Total number of users in Usage count:3</div></td></tr>
<tr><td><div class="test-message">&emsp;Total number of user in Usage count and in table are same&emsp;<a href=".\ScreenShot\verifyUsedData_1.png" target="_blank" >[ScreenShot]</a></div></td></tr>
</table>