<h2>Methods that were not run</h2><table>
<tr><td>com.arc.fna.testscripts.FNA_SanitySuit.verifyCreatePackage_Within_Packages<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_0011 (Sanity): Verify user add new package and add attachment from collection in packages.</i></td></tr>
<tr><td>com.arc.fna.testscripts.FNA_SanitySuit.verifyExportAddressBook<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_008(Sanity):Verify Export of Address book in Excel format</i></td></tr>
<tr><td>com.arc.fna.testscripts.FNA_SanitySuit.verifyValidLogin<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_001(Sanity) : Verify Login to skysite</i></td></tr>
<tr><td>com.arc.fna.testscripts.FNA_SanitySuit.verifyAddTaskAndAttach_File_Task<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_0012 (Sanity): Verify  add task and Attach file(internal and external)in task.</i></td></tr>
<tr><td>com.arc.fna.testscripts.FNA_SanitySuit.verifyAdditionOfNewContact<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_010(Sanity): Verify Addition of new contact </i></td></tr>
<tr><td>com.arc.fna.testscripts.FNA_SanitySuit.verifyAdditionOfFolder<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_004(Sanity): Verify Addition of folder </i></td></tr>
<tr><td>com.arc.fna.testscripts.FNA_SanitySuit.verifyFileOpenInViewer<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_007(Sanity): Verify File Open in Viewer </i></td></tr>
<tr><td>com.arc.fna.testscripts.FNA_SanitySuit.verifyUploadOfFile<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_005(Sanity): Verify Upload of file  </i></td></tr>
<tr><td>com.arc.fna.testscripts.FNA_SanitySuit.verifyCreationCollection<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_003 (Sanity): Verify creation of collection.</i></td></tr>
<tr><td>com.arc.fna.testscripts.FNA_SanitySuit.verifyZipDownloadOfAlbum<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_009(Sanity): Verify Zip Download of album </i></td></tr>
<tr><td>com.arc.fna.testscripts.FNA_SanitySuit.verifyDownloadOfFile<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_006(Sanity): Verify Download of file  </i></td></tr>
<tr><td>com.arc.fna.testscripts.FNA_SanitySuit.verifyValidRegistrationAndFnaActivation<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_002(Sanity) :Verify registration and activation of FNA</i></td></tr>
</table>