<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>FNA Sanity Test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c09f7f">  <td>18/08/06 18:17:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FNA_SanitySuit.beforeTest(java.lang.String)[pri:0, instance:com.arc.fna.testscripts.FNA_SanitySuit@9660f4e]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@710239027</td>   <td></td> </tr>
<tr bgcolor="c09f7f">  <td>18/08/06 18:17:44</td>   <td>10718</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FNA_SanitySuit.verifyEnableviewer_Sendlink()[pri:0, instance:com.arc.fna.testscripts.FNA_SanitySuit@9660f4e]">verifyEnableviewer_Sendlink</td> 
  <td>main@710239027</td>   <td></td> </tr>
</table>
