<h2>Reporter output</h2><table><tr><td>&emsp;<div class="test-title"> <strong><font size = "3" color = "#000080">TC_013 (Sanity): Verify Enable viewer with send link and file revision..</font> </strong> </div>&emsp;<div><strong>Steps:</strong></div><!-- Report -->&emsp;</td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 06 Aug 18:17:45 586 - Element is displayed:: [[ChromeDriver: chrome on XP (383463f1012902d031071d6ae1fe15e3)] -> css selector: #UserID]</small> </font> </div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 06 Aug 18:17:45 740 - Element is displayed:: [[ChromeDriver: chrome on XP (383463f1012902d031071d6ae1fe15e3)] -> css selector: #UserID]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Username: stgtesting@gmail.com has been engtered in Username text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;Password: stg1111 has been engtered in Password text box.</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 06 Aug 18:17:46 221 - Element is displayed:: [[ChromeDriver: chrome on XP (383463f1012902d031071d6ae1fe15e3)] -> css selector: #btnLogin]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;LogIn button clicked.</div></td></tr>
<tr><td><div class="test-message">&emsp;Login Validation:</div></td></tr>
<tr><td><div class="test-message">&emsp;Login is successfull </div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 06 Aug 18:18:17 591 - Element is displayed:: [[ChromeDriver: chrome on XP (383463f1012902d031071d6ae1fe15e3)] -> xpath: //*[@id='setting']]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;collection has been clicked.</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 06 Aug 18:18:19 709 - Element is displayed:: [[ChromeDriver: chrome on XP (383463f1012902d031071d6ae1fe15e3)] -> xpath: //*[@id='btnResetSearch']]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;reset button has been clicked.</div></td></tr>
<tr><td><div class="test-message">&emsp;prjCount_prjList :6</div></td></tr>
<tr><td><div class="test-message">&emsp;Collect_Sanity14687</div></td></tr>
<tr><td><div class="test-message">&emsp;Collect_Sanity17206</div></td></tr>
<tr><td><div class="test-message">&emsp;Collect_Sanity21882</div></td></tr>
<tr><td><div class="test-message">&emsp;Collect_Sanity24671</div></td></tr>
<tr><td><div class="test-message">&emsp;Collect1234</div></td></tr>
<tr><td><div class="test-message">&emsp;Select Collection button has been clicked!!!</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 06 Aug 18:18:45 228 - Element is displayed:: [[ChromeDriver: chrome on XP (383463f1012902d031071d6ae1fe15e3)] -> css selector: .selectedTreeRow]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Collection name is:Collect1234</div></td></tr>
<tr><td><div class="test-message">&emsp;Select Collection successfull</div></td></tr>
<tr><td><div class="test-message">&emsp;Swich to I Frame Success!!</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 06 Aug 18:18:57 613 - Element is displayed:: [[ChromeDriver: chrome on XP (383463f1012902d031071d6ae1fe15e3)] -> css selector: #btnAddFolder]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Add Folder has been clicked</div></td></tr>
<tr><td><div class="test-message">&emsp;Folder name has been entered</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 06 Aug 18:19:01 471 - Element is displayed:: [[ChromeDriver: chrome on XP (383463f1012902d031071d6ae1fe15e3)] -> css selector: #btnNewFolderSave]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;save button has been clicked</div></td></tr>
<tr><td><div class="test-message">&emsp;Act Folder Name is:Folder12511</div></td></tr>
<tr><td><div class="test-message">&emsp;Adding the folder validation successfull </div></td></tr>
<tr><td><div class="test-message">&emsp;Adding folder Successfull&emsp;<a href=".\ScreenShot\verifyEnableviewer_Sendlink_1.png" target="_blank" >[ScreenShot]</a></div></td></tr>
<tr><td><div class="test-message">&emsp;upload button has been clicked</div></td></tr>
<tr><td><div class="test-message">&emsp;CDwindow-93BE34B35F7E57EF9011FA0BA7599FB4</div></td></tr>
<tr><td><div class="test-message">&emsp;select files has been clicked</div></td></tr>
<tr><td><div class="test-message">&emsp;Expected File name is:airlines.pdf</div></td></tr>
<tr><td><div class="test-message">&emsp;AutoIT Script Executed!!</div></td></tr>
<tr><td><div class="test-message">&emsp;phmjo6g4slhoc6vekpn0bu56a.txt is deleted!</div></td></tr>
<tr><td><div class="test-message">&emsp;Upload button has been clicked</div></td></tr>
<tr><td><div class="test-message">&emsp;Upload file Successfull&emsp;<a href=".\ScreenShot\verifyEnableviewer_Sendlink_2.png" target="_blank" >[ScreenShot]</a></div></td></tr>
<tr><td><div class="test-message">&emsp;select all check box has been clicked</div></td></tr>
<tr><td><div class="test-message">&emsp;Link file option is clicked</div></td></tr>
<tr><td><div class="test-message">&emsp;enable viewer has been clicked</div></td></tr>
<tr><td><div class="test-message">&emsp;send via communication has been clicked</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 06 Aug 18:20:58 922 - Element is displayed:: [[ChromeDriver: chrome on XP (383463f1012902d031071d6ae1fe15e3)] -> xpath: //*[@id='txtMessageBody_container']/table/tbody/tr[2]/td]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Switch to frame</div></td></tr>
<tr><td><div class="test-message">&emsp;selete the path frame</div></td></tr>
<tr><td><div class="test-message">&emsp;Image clicked and context click down</div></td></tr>
<tr><td><div class="test-message">&emsp;file opened in new tab</div></td></tr>
<tr><td><div class="test-message">&emsp;CDwindow-93BE34B35F7E57EF9011FA0BA7599FB4</div></td></tr>
<tr><td><div class="test-message">&emsp;viewer has been clicked</div></td></tr>
<tr><td><div class="test-message">&emsp;Act File Name is:(R-1) airlines.pdf</div></td></tr>
<tr><td><div class="test-message">&emsp;Enable Viewer with send link  Successfull&emsp;<a href=".\ScreenShot\verifyEnableviewer_Sendlink_3.png" target="_blank" >[ScreenShot]</a></div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 06 Aug 18:22:05 903 - Element is displayed:: [[ChromeDriver: chrome on XP (383463f1012902d031071d6ae1fe15e3)] -> xpath: .//*[@id='btnCancel']]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Back button is clicked</div></td></tr>
<tr><td><div class="test-message">&emsp;Switching to default content</div></td></tr>
<tr><td><div class="test-message">&emsp;SWitched to frame</div></td></tr>
<tr><td><div class="test-message">&emsp;More option is clicked</div></td></tr>
<tr><td><div class="test-message">&emsp;Remove folder button is clicked</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 06 Aug 18:22:29 967 - Element is displayed:: [[ChromeDriver: chrome on XP (383463f1012902d031071d6ae1fe15e3)] -> xpath: //*[@id='button-1']]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;yes button has been clicked and folder is deleted</div></td></tr>
</table>